<a href="https://colab.research.google.com/github/Haris-09/DiabetesInsightsAI/blob/main/Diabetes_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
A1C = pd.read_csv('https://raw.githubusercontent.com/Haris-09/DiabetesInsightsAI/refs/heads/main/data/A1C.csv')
ACTIVITY = pd.read_csv('https://raw.githubusercontent.com/Haris-09/DiabetesInsightsAI/refs/heads/main/data/ACTIVITY.csv')
BLOOD_PRESSURE = pd.read_csv('https://raw.githubusercontent.com/Haris-09/DiabetesInsightsAI/refs/heads/main/data/BLOOD_PRESSURE.csv')
EXERCISE = pd.read_csv('https://raw.githubusercontent.com/Haris-09/DiabetesInsightsAI/refs/heads/main/data/EXERCISE.csv')
GLUCOSE = pd.read_csv('https://raw.githubusercontent.com/Haris-09/DiabetesInsightsAI/refs/heads/main/data/GLUCOSE.csv')
MEDICATION_IN = pd.read_csv('https://raw.githubusercontent.com/Haris-09/DiabetesInsightsAI/refs/heads/main/data/MEDICATION_IN.csv')
Note = pd.read_csv('https://raw.githubusercontent.com/Haris-09/DiabetesInsightsAI/refs/heads/main/data/NOTE.csv')

In [3]:
A1C['Date'] = pd.to_datetime(A1C['Date'])
ACTIVITY['Date'] = pd.to_datetime(ACTIVITY['Date'])
BLOOD_PRESSURE['Date'] = pd.to_datetime(BLOOD_PRESSURE['Date'])
EXERCISE['Date'] = pd.to_datetime(EXERCISE['Date'])
GLUCOSE['Date'] = pd.to_datetime(GLUCOSE['Date'])
MEDICATION_IN['Date'] = pd.to_datetime(MEDICATION_IN['Date'])
Note['Date'] = pd.to_datetime(Note['Date'])

In [4]:
display(A1C.dtypes)
display(ACTIVITY.dtypes)
display(BLOOD_PRESSURE.dtypes)
display(EXERCISE.dtypes)
display(GLUCOSE.dtypes)
display(MEDICATION_IN.dtypes)
display(Note.dtypes)

Date       datetime64[ns]
Time               object
A1C (%)           float64
Source             object
dtype: object

Date           datetime64[ns]
Activity ()            object
Source                 object
dtype: object

Date               datetime64[ns]
Time                       object
Sys                         int64
Dia                         int64
Pulse                       int64
Feeling                    object
Position                   object
Arm                        object
Irregular pulse            object
Source                     object
dtype: object

Date           datetime64[ns]
Time                   object
Exercise ()            object
Note                   object
Source                 object
dtype: object

Date                     datetime64[ns]
Time                             object
Blood Glucose (mg/dL)             int64
Meals                            object
Feeling                          object
Note                             object
Source                           object
dtype: object

Title            object
Date     datetime64[ns]
Time             object
dtype: object

Date    datetime64[ns]
Time            object
Note            object
dtype: object

In [5]:
# Rename columns for consistency
ACTIVITY = ACTIVITY.rename(columns={'Activity ()': 'Activity'})
EXERCISE = EXERCISE.rename(columns={'Exercise ()': 'Exercise'})
GLUCOSE = GLUCOSE.rename(columns={'Blood Glucose (mg/dL)': 'Blood Glucose'})

# Convert 'Time' column to string format for dataframes that have it
if 'Time' in BLOOD_PRESSURE.columns:
    BLOOD_PRESSURE['Time'] = BLOOD_PRESSURE['Time'].astype(str)
if 'Time' in EXERCISE.columns:
    EXERCISE['Time'] = EXERCISE['Time'].astype(str)
if 'Time' in GLUCOSE.columns:
    GLUCOSE['Time'] = GLUCOSE['Time'].astype(str)
if 'Time' in MEDICATION_IN.columns:
    MEDICATION_IN['Time'] = MEDICATION_IN['Time'].astype(str)
if 'Time' in Note.columns:
    Note['Time'] = Note['Time'].astype(str)

# Display the first few rows and dtypes of each dataframe to verify the changes
display(A1C.head())
display(A1C.dtypes)
display(ACTIVITY.head())
display(ACTIVITY.dtypes)
display(BLOOD_PRESSURE.head())
display(BLOOD_PRESSURE.dtypes)
display(EXERCISE.head())
display(EXERCISE.dtypes)
display(GLUCOSE.head())
display(GLUCOSE.dtypes)
display(MEDICATION_IN.head())
display(MEDICATION_IN.dtypes)
display(Note.head())
display(Note.dtypes)

        Date   Time  A1C (%)            Source
0 2025-09-11  12:00     10.9  Entered Manually

Date       datetime64[ns]
Time               object
A1C (%)           float64
Source             object
dtype: object

        Date    Activity                 Source
0 2025-11-01   191 steps  Internal Step Counter
1 2025-10-31  3356 steps  Internal Step Counter
2 2025-10-30  5055 steps  Internal Step Counter
3 2025-10-29  6220 steps  Internal Step Counter
4 2025-10-28  1403 steps  Internal Step Counter

Date        datetime64[ns]
Activity            object
Source              object
dtype: object

,Date,Time,Sys,Dia,Pulse,Feeling,Position,Arm,Irregular pulse,Source
0,2025-10-30,18:15,124,82,73,NaN,Supine,Left arm,detected,Entered Manually
1,2025-10-28,09:40,122,75,70,NaN,Supine,Left arm,detected,Entered Manually
2,2025-10-26,09:50,123,79,71,NaN,Supine,Left arm,detected,Entered Manually
3,2025-10-25,12:30,121,86,66,NaN,Supine,Left arm,detected,Entered Manually
4,2025-10-22,18:45,123,73,75,NaN,Supine,Left arm,detected,Entered Manually

Date               datetime64[ns]
Time                       object
Sys                         int64
Dia                         int64
Pulse                       int64
Feeling                    object
Position                   object
Arm                        object
Irregular pulse            object
Source                     object
dtype: object

        Date   Time       Exercise               Note            Source
0 2025-10-17  06:45  Free Exercise  7 minutes workout  Entered Manually
1 2025-10-13  06:40        Walking                NaN  Entered Manually
2 2025-10-12  16:50        Walking                NaN  Entered Manually
3 2025-10-12  06:50        Walking                NaN  Entered Manually
4 2025-10-11  17:37        Walking                NaN  Entered Manually

Date        datetime64[ns]
Time                object
Exercise            object
Note                object
Source              object
dtype: object

        Date   Time  Blood Glucose    Meals Feeling Note            Source
0 2025-10-31  08:30            109  Fasting     NaN  NaN  Entered Manually
1 2025-10-30  08:00             95  Fasting     NaN  NaN  Entered Manually
2 2025-10-29  07:30             93  Fasting     NaN  NaN  Entered Manually
3 2025-10-28  07:20            101  Fasting     NaN  NaN  Entered Manually
4 2025-10-27  07:00            116  Fasting     NaN  NaN  Entered Manually

Date             datetime64[ns]
Time                     object
Blood Glucose             int64
Meals                    object
Feeling                  object
Note                     object
Source                   object
dtype: object

                                             Title       Date   Time
0  JARDY-MET(Empagliflozin Metformin HCI) 12.5/500 2025-10-31  19:30
1                          Getryl(Glimepiride) 1mg 2025-10-31  09:00
2  JARDY-MET(Empagliflozin Metformin HCI) 12.5/500 2025-10-30  19:00
3                          Getryl(Glimepiride) 1mg 2025-10-30  08:15
4  JARDY-MET(Empagliflozin Metformin HCI) 12.5/500 2025-10-29  18:30

Title            object
Date     datetime64[ns]
Time             object
dtype: object

        Date   Time                                               Note
0 2025-10-31  19:30  1 roti anda chai 9:15 AM 2 roti mutton chai 3:...
1 2025-10-30  20:00  1 roti anda channy chai 8:30 AM 1 roti channy ...
2 2025-10-29  19:30  1 roti anda 8:09 AM fruit 12:30 PM chai Russ 3...
3 2025-10-28  20:00  1 roti anda chai 8:00 AM 1 roti gobi 2:00 AM 1...
4 2025-10-27  19:00  1 roti anda 8:00 AM chai 9:00 AM 1 cup tang ju...

Date    datetime64[ns]
Time            object
Note            object
dtype: object